/* ================================================================
　全体
=================================================================== */

body {
background-color: rgb(200,255,200);
}


/* ================================================================
　フォーム整形
=================================================================== */
h1 { color: red; }

.size-input-name {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width: 20em;
}


/* ================================================================
　左右にわける
=================================================================== */

#a-box {
           float:left;
           margin: 0px;
           padding: 0px;
}


#b-box {
           float:center;
           margin: 0px;
           padding: 0px;
}

#c-box {
           float:right;
           margin: 0px;
           padding: 0px;
           position: absolute;
           top: 100px;
           left:720px;
}

/* ================================================================
　一覧画面
=================================================================== */
.table1 {
  border: 1px solid gray;
}
.table1 th, .table1 td {
  border: 1px solid gray;
}
.table1 th {
  background-color: #ccf;
}